%h1 Games
=link_to("Add game", new_game_url)
.m-div{style:'width: 800px;'}
  #map{style: 'width: 800px; height: 400px;'}
%table
  -@games.each do |game|
    %tr
      %td= link_to(game.name, edit_game_url(game.id))
      %td= link_to('DEL', game, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_game')
:javascript
  handler = Gmaps.build('Google');
  function RenderMap(){
    $.getJSON("games/coordinates.json", function(coordinates){
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(coordinates);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  }
  RenderMap();