%h3= @game.name
=link_to("Edit page", edit_team_game_url(@team, @game))
.m-div{style:'width: 800px;'}
  #map{style: 'width: 800px; height: 400px;'}
%table
  -@game.rsvps.each do |rsvp|
    %tr
      %td= rsvp.name
      %td= rsvp.email
=form_for(@rsvp, url: team_game_rsvps_url(@team, @game), remote: true) do |f|
  =f.label :name
  =f.text_field :name
  =f.label :email
  =f.text_field :email
  =f.submit

:javascript
  handler = Gmaps.build('Google');
  function RenderMap(){
    $.getJSON("#{@game.id}/coordinates.json", function(coordinates){
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(coordinates);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    })
  }
  RenderMap();