.container-fluid.col-md-9.translucent
  .h3 Contact
  %table.table
    %tr
      %td
        %a{href: "mailto:info@BrooklynWets.com"} Email Coach Granger
    %tr
      %td
        %a{href: "http://www.meetup.com/New-York-Water-Polo-Meetup/"} Meetup
    %tr
      %td
        %a{href: "https://www.generosity.com/sports-fundraising/brooklyn-wets-water-polo-equipment"} Fundraiser