.container-fluid.col-md-9.translucent
  .h3 Practice
  %p 
    We practice Saturdays at Metropolitan Rec Center at at 2pm. You have to have a NYC Rec Center Membership.
    %a{href: "http://www.nycgovparks.org/programs/recreation-centers/membership"}
      Rec Center Membership
      