.container-fluid.col-md-9.translucent
  .h3 Practice
  %p We play water polo in NYC. Come join us!
  %p All levels are welcome, but you have to be a good swimmer. No exceptions.
  %p We practice in Brooklyn, then grab beers. We play against local clubs. Our practices are mainly dedicated to sharpening skills through competative scrimmaging. We field a co-ed team and a women's team.
  %p See you in the water!!